<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <h1>Recommended spots</h1>
        <% for (const spot of vacation) { %>
            <li>
                <h2><%= spot.name %></h2>
                <%= spot.description %>
                <img src=<%= spot.pict %> alt="placeholder">
            </li>
        <% } %>
    </ul>

    <script>
        const vacation = <%- JSON.stringify(vacation) %>
    </script>
</body>
</html>